.header{

  background-color: $headercol;
  height: $headheight;
  @media only screen and (max-device-width:$mobile-brk-pnt){
    height: 3 * $headheight;
  }
  color: $textcol;
  width: 100%;
  margin:0;
  padding:0;
  // overflow-x:hidden;
  // overflow-y:visible;//maybe make hidden but change for mobile
  overflow: visible;
  text-align: center;

  z-index: 100;
}

.dropdown {

    float:left;
    width:100%;
    position: relative;
    display: inline-block;
    margin:0;
    padding: 0;

    img{
      height: 1.5ch;
      width: 1.5ch;
    }

    @media only screen and (max-device-width:$mobile-brk-pnt){
      width: 30%;
      padding-right:20%;
      img{
        height: 7ch;
        width: 7ch;
      }
    }
}

.dropbtn{
  display: none;
  height: 100%;

  @media only screen and (max-device-width:$mobile-brk-pnt){
    display: inline-block;
    padding-top: 0.5 *  3 * $headheight * (1 - $headlineratio);
    padding-bottom: 0.5 * 3 * $headheight * (1 - $headlineratio);
    margin-bottom: 5px;
    width: 100%;

    #hamburger{
      display: inline;
    }
    #xmenu{
      display: none;
    }
 }
}

.dropdown-content {
    width:100%;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    
    @media only screen and (max-device-width:$mobile-brk-pnt){

      display: none;
      text-align: center;
      width: 200%;
      font-size: 50pt;
      padding: 40px 0 40px 0;
      position: absolute;
      background-color: rgba(255,255,255, 0.9);
      // min-width: 160px;
      overflow: auto;

      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

      li {
          color: black;
          text-decoration: none;
          display: block;
          &:hover {
              cursor: pointer;
            }
      }

    }

}

.show {
    display: block;
    margin-left:0;
}

.tab-option {
    min-width: 100px;
    height: 100%;
    display: inline-block;
    padding-top: $headheight * (1 - $headlineratio) / 2;
    padding-bottom: $headheight * (1 - $headlineratio) / 2;

    white-space: nowrap;
    font-weight: 100;
    letter-spacing: 0.5px;

    @media only screen and (max-device-width:$mobile-brk-pnt){
      padding-top: 55px;
      padding-bottom: 55px;
      a{
        color: black;
      }
    }

    &:hover {
        cursor: pointer;
      }
}

/*
*
*/
.search-tab{
  @media only screen and (max-device-width:$mobile-brk-pnt){
    display: none !important;
  }
}

.search {
  //display: inline-block;
  padding-top: 0.5 *  3 * $headheight * (1 - $headlineratio);
  padding-bottom: 0.5 * 3 * $headheight * (1 - $headlineratio);
  float:left;
  visibility: visible;
  width:10%;
  text-align: center;
  // margin-right:40%;
  margin-left:0;

  display: none;

  // img{
  //   height: 1.5ch;
  //   width: 1.5ch;
  // }

  @media only screen and (max-device-width:$mobile-brk-pnt){
    display: inline-block;
    width: 30%;
    padding-left:20%;

    img{
      height: 7ch;
      width: 7ch;
    }

  }

}
