

//font
$sanfrandisp: 'Sanfrancisco Display Web', Helvetica, Arial, sans-serif;


//colors
$headercol: #313236;
$textcol: #fff2f2;
$linkcolor: #5c9bdb;

//header info
$headheight: 60px;
$headlineratio: 0.4;

//mobile breakpoint
$mobile-brk-pnt: 800px;
$desk-brk-pnt: 800px;

//footer height
$footheight: 50px;
