$headercol: white;

//mobile breakpoint
$breakpoint: 672px;

//footer height
$footheight: 50px;

//new variables
$twitter-color: #1DA1F2;
$textcol: black;

//font
$mob-font-size: 12pt;
$desk-font-size: 18pt;
