@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import 'variables';
@import 'header';
@import 'footer';

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F8FA;
  font-family: 'Inconsolata';
}

a {
  color: $twitter-color;
  text-decoration: none;
}

ul{
  list-style-type: none;

  font-size: $desk-font-size;
  @media screen and (max-width: $breakpoint){
    font-size: $mob-font-size;
  }
  padding-left: 5%;
  padding-right: 5%;
  margin:0;

  li{
    // padding:0;
    // margin:0;
    padding-top:2%;
    padding-bottom:2%;
    z-index: 5;
    overflow: hidden;
    line-height: 1;
  }
}

.about-tweet{
  color: $twitter-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tweet-text{
  color: $textcol;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tweet-container{
  width: 100%;
  min-width: $breakpoint;
  @media screen and (max-width: $breakpoint){
    min-width: 0;
  }
  overflow: hidden;
  height: 300px;
}

.color{
  color:#F8CB37;
}

hr{
  border: 1px solid $headercol;
}

#video{
  width:100%;
  text-align: center;
  position: relative;;
  display: block;
  z-index: 0;
  background-color: black;
  #player{
    width:$breakpoint;
    @media screen and (max-width: $breakpoint){
      width:100%;
    }
  }
}
