@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700); 
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: 'Inconsolata'; }

    a {
      color: #1DA1F2;
      text-decoration: none; }

      ul {
        list-style-type: none;
        font-size: 18pt;
        padding-left: 5%;
        padding-right: 5%; }
        ul li {
          padding-top: 1%;
          padding-bottom: 1%; }

  .about-tweet {
    color: #1DA1F2; }

    .tweet-text {
      color: black; }

      hr {
        border: 1px solid #313236; }

        #video {
          width: 100%;
          text-align: center; }
.heading {
  width: 100%;
  margin: 0;
  padding: 0; }
  .heading h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0; }
.footer {
  width: 100%; }
  .footer p {
    text-align: center; }
