.heading {
  width: 100%;
  margin: 0;
  padding: 0; }
  .heading h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0; }
.footer {
  width: 100%; }
  .footer p {
    text-align: center; }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: Helvetica; }

  a {
    color: #1DA1F2;
    text-decoration: none; }

    ul {
      list-style-type: none;
      font-size: 18pt;
      padding-left: 5%;
      padding-right: 5%; }
      ul li {
        padding-top: 2%;
        padding-bottom: 2%;
        z-index: 5;
        overflow: hidden;
        line-height: 1; }

.about-tweet {
  color: #1DA1F2;
  padding-top: 5px;
  padding-bottom: 5px; }

  .tweet-text {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px; }

    .tweet-container {
      width: 100%;
      min-width: 400px;
      height: 75%;
      overflow: hidden; }

      hr {
        border: 1px solid #313236; }

        #video {
          width: 100%;
          text-align: center;
          position: absolute;
          top: 100px;
          z-index: 0; }
