.heading {
  width: 100%;
  margin: 0;
  padding: 0; }
  .heading h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
    background-color: white; }
.footer {
  width: 100%;
  display: block; }
  .footer p {
    text-align: center; }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F8FA;
  font-family: Helvetica; }

  a {
    color: #1DA1F2;
    text-decoration: none; }

    ul {
      list-style-type: none;
      font-size: 18pt;
      padding-left: 5%;
      padding-right: 5%;
      margin: 0; }
      ul li {
        padding-top: 2%;
        padding-bottom: 2%;
        z-index: 5;
        overflow: hidden;
        line-height: 1; }

.about-tweet {
  color: #1DA1F2;
  padding-top: 5px;
  padding-bottom: 5px; }

  .tweet-text {
    color: black;
    padding-top: 5px;
    padding-bottom: 5px; }

    .tweet-container {
      width: 100%;
      min-width: 672px;
      overflow: hidden;
      height: 300px; }

      .color {
        color: #F8CB37; }

        hr {
          border: 1px solid #313236; }

          #video {
            width: 100%;
            text-align: center;
            position: relative;
            display: block;
            z-index: 0;
            background-color: black; }
