{% extends "layout.html" %}
{% block content %}
<div class="tweet-container">
  <ul id="tweet-list">
    <li class="tweet-content">
      <div class="about-tweet">
        <a href={{intro.handle}} target="_blank">@{{intro.handle}}</a> &bull; {{intro.now}}
      </div>
      <div class="tweet-text">
        {{intro.msg1}}
      </div>
    </li>
    <li class="tweet-content">
      <div class="about-tweet">
        <!-- DO NO REMOVE THESE COMMENTS -->
      </div>
      <div class="tweet-text">
        <!-- DO NO REMOVE THESE COMMENTS -->
      </div>
    </li>
  </ul>
</div>
<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="video">
  <div id="player"></div>
</div>
<script>
// 2. This code loads the IFrame Player API code asynchronously.
var jsondata = {{ data|safe }};
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
console.log("youtube script loaded");
</script>

{% endblock content %}
