// this defines the styles for the default header
.heading{
  width: 100%;
  margin: 0;
  padding: 0;

  h1{
    text-align: center;
    margin: 0;
    padding: 20px 0 20px 0;
    background-color: white;
    // margin: 0;
    // padding: 0;
  }
}
