

//colors
$headercol: #313236;

$linkcolor: #5c9bdb;

//header info
$headheight: 60px;
$headlineratio: 0.4;

//mobile breakpoint
$mobile-brk-pnt: 800px;
$desk-brk-pnt: 800px;

//footer height
$footheight: 50px;

//new variables
$twitter-color: #1DA1F2;
$textcol: black;
