//@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@import 'variables';
@import 'header';
@import 'footer';

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: Helvetica;//'Inconsolata';
}

a {
  color: $twitter-color;
  text-decoration: none;
}

ul{
  list-style-type: none;
  font-size: 18pt;
  padding-left: 5%;
  padding-right: 5%;
  li{
    // padding:0;
    // margin:0;
    padding-top:2%;
    padding-bottom:2%;
    z-index: 5;
    overflow: hidden;
    line-height: 1;
  }
}

.about-tweet{
  color: $twitter-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tweet-text{
  color: $textcol;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tweet-container{
  width: 100%;
  min-width: 672px;
  // height: 75%;
  overflow: hidden;
}

hr{
  border: 1px solid $headercol;
}

#video{
  width:100%;
  text-align: center;
  position: relative;
  display: block;
  // top: 100px;
  z-index: 0;
  // iframe{
  //   text-align: center;
  // }
}
